<form class="movies-form">
  <mat-form-field class="full-width">
    <mat-label>Enter Movie Title</mat-label>
    <input name="movieName" [(ngModel)]="movieName" matInput placeholder="Ex. Starwars" value="Movie:" >
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Movie Description</mat-label>
    <textarea name="movieDes" [(ngModel)]="movieDes" matInput placeholder="Ex: Infodump about the plot here:" ></textarea>
    <button mat-flat-button id="enter" (click)="onSubmit()">Enter</button>
  </mat-form-field>
  <div class="crud-buttons-row" id="button-row">
    <button mat-flat-button id="edit">Edit</button>
    <button mat-flat-button id="delete">Delete</button>
  </div>
</form>



