<!-- <form  class="book-title&desc">
<mat-form-field class="book-full-width">
  <mat-label>Book Description</mat-label>
  <input matInput placeholder="Write a book title">
</mat-form-field>





</form> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
