#edit {
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

#enter {
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

#delete {
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

