html {
  background-color: grey;
}

/* .main-container {
  min-height: 100vh;
  background-color: grey;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

html, body {
  margin: 0;
}
